@import 'src/styles/vars.scss';

.todo-lists-container {

  width: 1200px;
  margin: 2*$gutter auto;
  display: flex;
  flex-wrap: wrap;

  .todolist-card {  
    margin-right: $gutter;
    width: calc(50% - 4rem);

    .modify {
      margin-right: $gutter;
    }
  }
}